<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhump.blog.mapper.ResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.zhump.blog.model.vo.ResourcesVO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parent_id" jdbcType="BIGINT" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="permissions_url" property="permissions_url" jdbcType="VARCHAR" />
    <result column="permissions_value" property="permissions_value" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, parent_id, icon, permissions_url, permissions_value, type, status, create_time, update_time
  </sql>

  <!--分页查询数据-->
  <select id="selectAll" resultMap="BaseResultMap" resultType="java.util.Map">
      select
        <include refid="Base_Column_List" />
      from resources where 1 = 1
    <if test="status != null">
      and  status = #{status}
    </if>
  </select>

  <!--分页统计数量-->
  <select id="count" resultType="int">
    select count(*) from resources

  </select>

  <!--添加数据-->
  <select id="add" resultMap="BaseResultMap" parameterType="com.zhump.blog.model.dto.ResourcesDTO">
   insert into resources(id,name,parent_id,icon,permissions_url,permissions_value,type,status,create_time)
   values  (#{id},#{name},#{parent_id},#{icon},#{permissions_url},#{permissions_value},#{type},#{status},now())
  </select>

  <!--根据id去查询数据-->
  <select id="getId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from resources where id = #{id}
  </select>

  <!--根据id去修改-->
  <update id="update" parameterType="com.zhump.blog.model.dto.ResourcesDTO">
    update resources
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null" >
        parent_id = #{parent_id,jdbcType=BIGINT},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="permissions_url != null" >
        permissions_url = #{permissions_url,jdbcType=VARCHAR},
      </if>
      <if test="permissions_value != null" >
        permissions_value = #{permissions_value,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      update_time = now()

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--根据父级id去查询所有父目录-->
  <select id="selectParentId" resultMap="BaseResultMap" parameterType="long">
    select
      <include refid="Base_Column_List" />
    from
    resources  where parent_id = #{parent_id}


  </select>

  <!--批量查询子目录-->
  <select id="selectChild" resultMap="BaseResultMap">

    select * from resources where id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>

  </select>

  
</mapper>